@model IEnumerable<Note>
@{
    ViewData["Title"] = "Ежедневник";
 //   Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Ежедневник</title>
</head>
<body>
    <style>
        p {
            margin-top: 10px;
        }
    </style>


    <p></p>
    <a href="~/Home/Create" class=btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <p></p>

    <form asp-controller="Home" asp-action="Index">
    </form>
    <form class="col s6">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="SearchString" type="submit"  class="waves-effect waves-light btn-small" />  <i class="material-icons">search</i>
                
                <label for="Search">Искать</label>


            </div>
        </div>
    </form>



    <table class="striped">


        <h5>Задача</h5>


        @foreach (var note in Model)
        {
    <tr>

        <td>@note.Task</td>

        <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@note.Id"><i class="material-icons">create</i></a></td>

        <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@note.Id"><i class="material-icons">delete</i></a></td>

        <td><a asp-action="Details" asp-controller="Home" asp-route-id="@note.Id"><i class="material-icons">info</i></a></td>

        <td><a asp-action="Duplicate" asp-controller="Home" asp-route-task="@note.Task"><i class="material-icons">content_copy</i></a></td>


        <td><a asp-action="DuplicateThree" asp-controller="Home" asp-route-task="@note.Task"><i class="material-icons">add_to_queue</i></a></td>

    </tr>

        }

    </table>

</body>
</html>